@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{

    --primary-color: #0d9235;
    --bg-gray-color: #f0f8ff;
    --black-color: #000;
    --gray-color: #848484;
    --white-color: #fff;
    --light-gray: #eee;

}

body{
     
    font-family: 'Open Sans', sans-serif;
}

/* custom design css */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--light-gray);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}
.main-btn {
    margin-top: 2.5rem;
}
.main-btn button {
    background: var(--primary-color);
    padding: 0.725rem 1.75rem;
    color:var(--white-color);
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    cursor: pointer;
}

.main-btn button:hover{
    background: rgba(2, 2, 2, 0.959);
    color: greenyellow;
    font-weight: bold;
    letter-spacing: 0.0625rem;
}

.text-center{
    text-align: center;
}

/*---Header Design---*/

nav{
    position:fixed;
    width: 100%;
    padding: 1.25rem 0;
    z-index: 999;
    transition: all 0.3s ease;
    
}

nav .navbar .logo a{
    color:var(--white-color);
    font-size: 2rem;
    font-weight: 600;

}

nav .navbar .logo.active a{
    color:var(--black-color);


}

nav .navbar .logo_text{
    color:var(--primary-color);
}
nav.sticky{
    background-color:var(--white-color);
    padding: 0.8rem 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
nav .navbar{
    width:85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .navbar .menu{
    display: flex;
    position: relative;

}
nav .navbar .menu li{
    list-style: none;
    margin: 0.1rem;

}
nav .navbar .menu li a{
    font-size: 0.9rem;
    font-weight: bold;
    color:var(--white-color);
    padding: 0.37rem 0.5rem;
    transition: 0.4s;
    transform: uppercase;
    letter-spacing: 0.0625rem;

}

nav .navbar .menu li a:hover{
    color:var(--primary-color);

}
nav.sticky .navbar .menu li a{

    color:var(--black-color);

}

nav.sticky .navbar .menu li a:hover{
    color:var(--primary-color);

}

/*===  side menu  ===*/

nav .menu-btn,
nav .menu .cancel-btn{
    position: absolute;
    color:var(--white-color);
    right: 1.875em;
    top: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
    display: none;

}

nav .menu-btn{
    color: var(--black-color);

}

/*===  Top Banner Designe  ===*/

.home .top-banner{
    width:100%;
    height: 100vh;
    background:url('../imgs/bannerimg1.jpg') no-repeat;
    background-position: center;
    background-size: cover;


}

.home .top-banner .content{
    margin: auto;
  width: 100%;
  

}
.home .top-banner .text{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.home .top-banner .text h1{
    font-size: 3.7rem;
    color:var(--white-color);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.home .top-banner .text p{
    font-size: 1rem;
    line-height: 1.43rem;
    color: var(--white-color);
    margin-bottom: 2.1rem;
    width: 40%;
    margin: auto;
    display: block;
    padding-bottom: 10px;

}

/* === Service section===*/

.sec-content{
    width: 85%;
    margin: 0 auto;
    padding:6.25rem 0;    
}

.sec-title{
    text-align: center;
    margin-bottom: 6rem;
}
.sec-title h2{
    font-size: 2.1875rem;
    font-weight: 600;
    color:var(--black-color);
    margin-bottom:0.5rem;
}
.sec-title p{
    position:relative;
    color:var(--gray-color);
    margin: 0 auto;
    width:50%;
    font-size: 1rem;
    line-height: 1.55rem;

}
.sec-title p::after{
    content: '';
    position: absolute;
    width:25%;
    height:0.125rem;
    left:40%;
    bottom:-1.25rem;
    background: var(--primary-color);

}
.service-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.sec-content .left{
    width: 25%;
}
.sec-content .right{
    width:55%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*=== Right Box(for card)===*/

.right .card{
    width:calc(100% / 2 - 1.25rem);
    text-align: center;
    padding: 3.125rem 1.25rem;
    border: 2px solid var(--light-gray);
    margin-bottom: 2rem;
    transition: all 0.4s ease;
    cursor:pointer
}

.right .card:hover{
    box-shadow: 0 5px 65px 0 rgba(141, 247, 114, 1);

    
}
.right .card:hover .card-icon i{
    background: var(--white-color);
    color: var(--primary-color);
}
.right .card .card-icon i{
    width: 3.4375rem;
    height: 3.4375rem;
    font-size: 1.875rem;
    background: var(--primary-color);
    color: var(--white-color);
    display: inline-block;
    line-height: 3.4375rem;
    margin-bottom: 1.25rem;
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0 5px 6px rgb(13, 15, 12, 1);
    
}

.right .card .card-title h5{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 00.8rem;
    color: var(--black-color);
}
.right .card .card-title{
    font-size: 1rem;
    color:var(--gray-color);
    line-height: 1.4375rem;

}

/*ABOUT US*/

.agency{
    background: var(--light-gray);
}
.agency-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.agency-content .agency-img{
    width: 40%;
}
.agency-content .agency-img img{
    max-width: 100%;

}
.agency-content .agency-right{
    width: 50%;
}
.agency-right li{

    position: relative;
    list-style:disc;
    font-size: 1rem;
    color:var(--gray-color);
    line-height: 1.4375rem;
    margin-bottom: 1rem;
    padding-left: 1.675rem;

}

/*let's create counter part*/

.call-to-action{
    background:  url("../imgs/Counterbg.jpg") no-repeat ;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.call-to-action .sec-title{
    margin-bottom: 2rem;

}
.call-to-action .sec-title h2,
.call-to-action .sec-title p{
    color:var(--white-color);
    margin-bottom: 1.5rem;
}
.call-to-action .sec-title p::after{
    opacity: 0;
}








